body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #f7b42c, #fc575e);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.signup-container {
  background: #fff;
  padding: 40px 30px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.signup-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.signup-container h2 {
  font-family: 'Billabong', cursive;
  font-size: 3em;
  margin-bottom: 20px;
  color: #333;
}

.signup-container form {
  display: flex;
  flex-direction: column;
}

.signup-container input {
  margin-bottom: 15px;
  padding: 12px 20px;
  border: 1px solid #ddd;
  border-radius: 30px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.signup-container input:focus {
  border-color: #aaa;
  outline: none;
  box-shadow: 0 0 8px rgba(58, 151, 240, 0.6);
}

.signup-container button {
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  background-color: #3897f0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.signup-container button:hover {
  background-color: #3078c0;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.signup-container .alternative {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.signup-container .alternative a {
  color: #3897f0;
  text-decoration: none;
  font-weight: bold;
}

.signup-container .alternative a:hover {
  text-decoration: underline;
}
