body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #2c3e50;
  color: #ecf0f1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  overflow: auto;
}

#root {
  width: 100%;
}

.homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


.header h1 {
  margin: 0;
  font-size: 2em;
  color: #ecf0f1;
}

.profile-section {
  padding: 20px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #2c3e50;
  background-color: #34495e;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  border: 2px solid #2c3e50;
}

.profile-details h2 {
  margin: 0;
  font-size: 1.5em;
  color: #ecf0f1;
}

.profile-details p {
  margin: 5px 0 0 0;
  color: #bdc3c7;
}

.feed-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
